<ul>
    <h3 class="question">What country do you want?</h3>
    <h5 class="question">Please continue entering</h5>
    {{#each this}}
    <li>
        <p class="countries__name">{{name}}</p>
    </li>
    {{/each}}
</ul>